INSTAPAPER_CONSUMER_KEY=
INSTAPAPER_CONSUMER_SECRET=
INSTAPAPER_OAUTH_TOKEN=
INSTAPAPER_OAUTH_SECRET=
GETMNEMO_API_KEY=
GETMNEMO_WORKSPACE_ID=
INSTAPAPER_STATE_PATH=
INSTAPAPER_PAGE_SIZE=25
INSTAPAPER_FOLDER=unread
